:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --dark-gray: hsl(209, 33%, 12%);
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  font-family: "Libre Franklin";
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 150px;
}

img.logo {
  display: block;
  width: 100%;
  max-width: 80px;
  margin: auto;
  padding-top: 100px;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-weight: 200;
  color: var(--gray);
}

span {
  font-weight: 700;
  color: var(--dark-gray);
}

p {
  text-align: center;
  color: var(--dark-gray);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}

input {
  display: block;
  margin: auto;
  padding: 15px 150px 15px 15px;
  border-radius: 30px;
  border: 1px solid var(--pale-blue);
  font-family: "Libre Franklin";
  outline: none;
}

input::placeholder {
  color: var(--pale-blue);
}

input:user-valid {
  border: 1px solid var(--pale-blue);
}

input:user-invalid {
  border: 1px solid var(--red);
}

button[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px 130px 15px 130px;
  border-radius: 30px;
  border: transparent;
  background-color: var(--blue);
  color: white;
  font-family: "Libre Franklin";
  box-shadow: 0px 3px 15px var(--pale-blue);
  cursor: pointer;
  transition: 0.7s;
}

button[type="submit"]:hover {
  background-color: var(--pale-blue);
}

img.illustration {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 190px;
}

p.copyright {
  color: var(--gray);
  font-size: 12px;
}

.attribution {
  color: var(--gray);
  font-size: 13px;
}

a {
  color: var(--dark-gray);
  text-decoration: none;
}

/** Media Queries **/

@media only screen and (min-width: 900px) {
  header {
    height: 100px;
  }
  img.logo {
    padding-top: 50px;
  }
  img.illustration {
    max-width: 44rem;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 50px;
  }
  form {
    width: 680px;
    margin: 0 auto;
  }
  input {
    display: inline;
    padding: 15px 280px 15px 15px;
  }
  button[type="submit"] {
    display: inline;
    padding: 15px 70px 15px 70px;
    margin-left: 15px;
  }
}
