* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #115159;
  color: #f5e3e3;
  font-family: "Inter Tight", Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
  display: block;
  font-style: italic;
  color: #df5d5d;
  font-family: "Bodoni Moda", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

a {
  color: #446a74;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: grey;
}

li {
  list-style: none;
}
