* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: grey;
}

li {
  list-style: none;
}
